<?xml version="1.0"?>
<config>
	<first>0</first>
	<show_note>1</show_note>
	<lang>sys</lang>
	<skip_version>4.3.3.6560</skip_version>
	<last_save_dir>G:/</last_save_dir>
	<last_open_dir>C:/Users/user/Desktop/</last_open_dir>
	<enable_skin>1</enable_skin>
	<camera>
		<camera_distance>330.00</camera_distance>
		<camera_positionX>0.00</camera_positionX>
		<camera_positionY>-20.00</camera_positionY>
		<camera_angleX>310.00</camera_angleX>
		<camera_angleY>0.00</camera_angleY>
	</camera>
	<printers>
		<current>16</current>
		<item>
			<type>ideaPrinter F100</type>
			<max_print_x>305.00</max_print_x>
			<max_print_y>205.00</max_print_y>
			<max_print_z>175.00</max_print_z>
			<step_e>0.00</step_e>
			<compensation_x>100.00</compensation_x>
			<compensation_y>100.00</compensation_y>
			<nozzle_diameter>0.40</nozzle_diameter>
			<nozzle_diameter_2>0.40</nozzle_diameter_2>
			<heat_bed>0</heat_bed>
			<fan_control>1</fan_control>
			<distance_from_border>2.50</distance_from_border>
			<extruder_num>1</extruder_num>
			<extruder_2_offset_x>25.00</extruder_2_offset_x>
			<extruder_2_offset_y>0.00</extruder_2_offset_y>
			<virtual_extruder_2_offset_x>25.00</virtual_extruder_2_offset_x>
			<virtual_extruder_2_offset_y>0.00</virtual_extruder_2_offset_y>
			<extruder_filament_1>0</extruder_filament_1>
			<extruder_filament_2>0</extruder_filament_2>
			<extruder_filament_name_1>PLA 3mm</extruder_filament_name_1>
			<extruder_filament_name_2>PLA 3mm</extruder_filament_name_2>
			<baudrate>250000</baudrate>
			<extruder_temp_max_1>310</extruder_temp_max_1>
			<extruder_temp_max_2>310</extruder_temp_max_2>
			<heat_bed_temp_max>110</heat_bed_temp_max>
			<bed_shape>0</bed_shape>
		</item>
		<item>
			<type>ideaPrinter F100L</type>
			<max_print_x>305.00</max_print_x>
			<max_print_y>205.00</max_print_y>
			<max_print_z>575.00</max_print_z>
			<step_e>0.00</step_e>
			<compensation_x>100.00</compensation_x>
			<compensation_y>100.00</compensation_y>
			<nozzle_diameter>0.40</nozzle_diameter>
			<nozzle_diameter_2>0.40</nozzle_diameter_2>
			<heat_bed>0</heat_bed>
			<fan_control>1</fan_control>
			<distance_from_border>2.50</distance_from_border>
			<extruder_num>1</extruder_num>
			<extruder_2_offset_x>25.00</extruder_2_offset_x>
			<extruder_2_offset_y>0.00</extruder_2_offset_y>
			<virtual_extruder_2_offset_x>25.00</virtual_extruder_2_offset_x>
			<virtual_extruder_2_offset_y>0.00</virtual_extruder_2_offset_y>
			<extruder_filament_1>0</extruder_filament_1>
			<extruder_filament_2>0</extruder_filament_2>
			<extruder_filament_name_1>PLA 3mm</extruder_filament_name_1>
			<extruder_filament_name_2>PLA 3mm</extruder_filament_name_2>
			<baudrate>250000</baudrate>
			<extruder_temp_max_1>310</extruder_temp_max_1>
			<extruder_temp_max_2>310</extruder_temp_max_2>
			<heat_bed_temp_max>110</heat_bed_temp_max>
			<bed_shape>0</bed_shape>
		</item>
		<item>
			<type>ideaPrinter F1</type>
			<max_print_x>305.00</max_print_x>
			<max_print_y>205.00</max_print_y>
			<max_print_z>200.00</max_print_z>
			<step_e>0.00</step_e>
			<compensation_x>100.00</compensation_x>
			<compensation_y>100.00</compensation_y>
			<nozzle_diameter>0.40</nozzle_diameter>
			<nozzle_diameter_2>0.40</nozzle_diameter_2>
			<heat_bed>1</heat_bed>
			<fan_control>1</fan_control>
			<distance_from_border>2.50</distance_from_border>
			<extruder_num>1</extruder_num>
			<extruder_2_offset_x>25.00</extruder_2_offset_x>
			<extruder_2_offset_y>0.00</extruder_2_offset_y>
			<virtual_extruder_2_offset_x>25.00</virtual_extruder_2_offset_x>
			<virtual_extruder_2_offset_y>0.00</virtual_extruder_2_offset_y>
			<extruder_filament_1>0</extruder_filament_1>
			<extruder_filament_2>0</extruder_filament_2>
			<extruder_filament_name_1>PLA 3mm</extruder_filament_name_1>
			<extruder_filament_name_2>PLA 3mm</extruder_filament_name_2>
			<baudrate>250000</baudrate>
			<extruder_temp_max_1>310</extruder_temp_max_1>
			<extruder_temp_max_2>310</extruder_temp_max_2>
			<heat_bed_temp_max>110</heat_bed_temp_max>
			<bed_shape>0</bed_shape>
		</item>
		<item>
			<type>ideaPrinter F2</type>
			<max_print_x>305.00</max_print_x>
			<max_print_y>205.00</max_print_y>
			<max_print_z>575.00</max_print_z>
			<step_e>0.00</step_e>
			<compensation_x>100.00</compensation_x>
			<compensation_y>100.00</compensation_y>
			<nozzle_diameter>0.40</nozzle_diameter>
			<nozzle_diameter_2>0.40</nozzle_diameter_2>
			<heat_bed>1</heat_bed>
			<fan_control>1</fan_control>
			<distance_from_border>2.50</distance_from_border>
			<extruder_num>1</extruder_num>
			<extruder_2_offset_x>25.00</extruder_2_offset_x>
			<extruder_2_offset_y>0.00</extruder_2_offset_y>
			<virtual_extruder_2_offset_x>25.00</virtual_extruder_2_offset_x>
			<virtual_extruder_2_offset_y>0.00</virtual_extruder_2_offset_y>
			<extruder_filament_1>0</extruder_filament_1>
			<extruder_filament_2>0</extruder_filament_2>
			<extruder_filament_name_1>PLA 3mm</extruder_filament_name_1>
			<extruder_filament_name_2>PLA 3mm</extruder_filament_name_2>
			<baudrate>250000</baudrate>
			<extruder_temp_max_1>310</extruder_temp_max_1>
			<extruder_temp_max_2>310</extruder_temp_max_2>
			<heat_bed_temp_max>110</heat_bed_temp_max>
			<bed_shape>0</bed_shape>
		</item>
		<item>
			<type>RAISE3D N1</type>
			<max_print_x>205.00</max_print_x>
			<max_print_y>205.00</max_print_y>
			<max_print_z>205.00</max_print_z>
			<step_e>0.00</step_e>
			<compensation_x>100.00</compensation_x>
			<compensation_y>100.25</compensation_y>
			<nozzle_diameter>0.40</nozzle_diameter>
			<nozzle_diameter_2>0.40</nozzle_diameter_2>
			<heat_bed>1</heat_bed>
			<fan_control>1</fan_control>
			<distance_from_border>2.50</distance_from_border>
			<extruder_num>1</extruder_num>
			<extruder_2_offset_x>25.00</extruder_2_offset_x>
			<extruder_2_offset_y>0.00</extruder_2_offset_y>
			<virtual_extruder_2_offset_x>25.00</virtual_extruder_2_offset_x>
			<virtual_extruder_2_offset_y>0.00</virtual_extruder_2_offset_y>
			<extruder_filament_1>2</extruder_filament_1>
			<extruder_filament_2>2</extruder_filament_2>
			<extruder_filament_name_1>PLA 1.75mm</extruder_filament_name_1>
			<extruder_filament_name_2>PLA 1.75mm</extruder_filament_name_2>
			<baudrate>230400</baudrate>
			<extruder_temp_max_1>310</extruder_temp_max_1>
			<extruder_temp_max_2>310</extruder_temp_max_2>
			<heat_bed_temp_max>110</heat_bed_temp_max>
			<bed_shape>0</bed_shape>
		</item>
		<item>
			<type>RAISE3D N2</type>
			<max_print_x>305.00</max_print_x>
			<max_print_y>305.00</max_print_y>
			<max_print_z>305.00</max_print_z>
			<step_e>0.00</step_e>
			<compensation_x>100.00</compensation_x>
			<compensation_y>100.25</compensation_y>
			<nozzle_diameter>0.40</nozzle_diameter>
			<nozzle_diameter_2>0.40</nozzle_diameter_2>
			<heat_bed>1</heat_bed>
			<fan_control>1</fan_control>
			<distance_from_border>2.50</distance_from_border>
			<extruder_num>1</extruder_num>
			<extruder_2_offset_x>25.00</extruder_2_offset_x>
			<extruder_2_offset_y>0.00</extruder_2_offset_y>
			<virtual_extruder_2_offset_x>25.00</virtual_extruder_2_offset_x>
			<virtual_extruder_2_offset_y>0.00</virtual_extruder_2_offset_y>
			<extruder_filament_1>2</extruder_filament_1>
			<extruder_filament_2>2</extruder_filament_2>
			<extruder_filament_name_1>PLA 1.75mm</extruder_filament_name_1>
			<extruder_filament_name_2>PLA 1.75mm</extruder_filament_name_2>
			<baudrate>230400</baudrate>
			<extruder_temp_max_1>310</extruder_temp_max_1>
			<extruder_temp_max_2>310</extruder_temp_max_2>
			<heat_bed_temp_max>110</heat_bed_temp_max>
			<bed_shape>0</bed_shape>
		</item>
		<item>
			<type>RAISE3D N2 Plus</type>
			<max_print_x>305.00</max_print_x>
			<max_print_y>305.00</max_print_y>
			<max_print_z>610.00</max_print_z>
			<step_e>0.00</step_e>
			<compensation_x>100.00</compensation_x>
			<compensation_y>100.25</compensation_y>
			<nozzle_diameter>0.40</nozzle_diameter>
			<nozzle_diameter_2>0.40</nozzle_diameter_2>
			<heat_bed>1</heat_bed>
			<fan_control>1</fan_control>
			<distance_from_border>2.50</distance_from_border>
			<extruder_num>1</extruder_num>
			<extruder_2_offset_x>25.00</extruder_2_offset_x>
			<extruder_2_offset_y>0.00</extruder_2_offset_y>
			<virtual_extruder_2_offset_x>25.00</virtual_extruder_2_offset_x>
			<virtual_extruder_2_offset_y>0.00</virtual_extruder_2_offset_y>
			<extruder_filament_1>2</extruder_filament_1>
			<extruder_filament_2>2</extruder_filament_2>
			<extruder_filament_name_1>PLA 1.75mm</extruder_filament_name_1>
			<extruder_filament_name_2>PLA 1.75mm</extruder_filament_name_2>
			<baudrate>230400</baudrate>
			<extruder_temp_max_1>310</extruder_temp_max_1>
			<extruder_temp_max_2>310</extruder_temp_max_2>
			<heat_bed_temp_max>110</heat_bed_temp_max>
			<bed_shape>0</bed_shape>
		</item>
		<item>
			<type>RAISE3D N1 - V2 Hot End</type>
			<max_print_x>205.00</max_print_x>
			<max_print_y>205.00</max_print_y>
			<max_print_z>205.00</max_print_z>
			<step_e>0.00</step_e>
			<compensation_x>100.00</compensation_x>
			<compensation_y>100.25</compensation_y>
			<nozzle_diameter>0.40</nozzle_diameter>
			<nozzle_diameter_2>0.40</nozzle_diameter_2>
			<heat_bed>1</heat_bed>
			<fan_control>1</fan_control>
			<distance_from_border>2.50</distance_from_border>
			<extruder_num>1</extruder_num>
			<extruder_2_offset_x>25.00</extruder_2_offset_x>
			<extruder_2_offset_y>0.00</extruder_2_offset_y>
			<virtual_extruder_2_offset_x>25.00</virtual_extruder_2_offset_x>
			<virtual_extruder_2_offset_y>0.00</virtual_extruder_2_offset_y>
			<extruder_filament_1>10</extruder_filament_1>
			<extruder_filament_2>10</extruder_filament_2>
			<extruder_filament_name_1>PLA 1.75mm - V2 Hot End</extruder_filament_name_1>
			<extruder_filament_name_2>PLA 1.75mm - V2 Hot End</extruder_filament_name_2>
			<baudrate>230400</baudrate>
			<extruder_temp_max_1>310</extruder_temp_max_1>
			<extruder_temp_max_2>310</extruder_temp_max_2>
			<heat_bed_temp_max>110</heat_bed_temp_max>
			<bed_shape>0</bed_shape>
		</item>
		<item>
			<type>RAISE3D N2 - V2 Hot End</type>
			<max_print_x>305.00</max_print_x>
			<max_print_y>305.00</max_print_y>
			<max_print_z>305.00</max_print_z>
			<step_e>0.00</step_e>
			<compensation_x>100.00</compensation_x>
			<compensation_y>100.25</compensation_y>
			<nozzle_diameter>0.40</nozzle_diameter>
			<nozzle_diameter_2>0.40</nozzle_diameter_2>
			<heat_bed>1</heat_bed>
			<fan_control>1</fan_control>
			<distance_from_border>2.50</distance_from_border>
			<extruder_num>1</extruder_num>
			<extruder_2_offset_x>25.00</extruder_2_offset_x>
			<extruder_2_offset_y>0.00</extruder_2_offset_y>
			<virtual_extruder_2_offset_x>25.00</virtual_extruder_2_offset_x>
			<virtual_extruder_2_offset_y>0.00</virtual_extruder_2_offset_y>
			<extruder_filament_1>10</extruder_filament_1>
			<extruder_filament_2>10</extruder_filament_2>
			<extruder_filament_name_1>PLA 1.75mm - V2 Hot End</extruder_filament_name_1>
			<extruder_filament_name_2>PLA 1.75mm - V2 Hot End</extruder_filament_name_2>
			<baudrate>230400</baudrate>
			<extruder_temp_max_1>310</extruder_temp_max_1>
			<extruder_temp_max_2>310</extruder_temp_max_2>
			<heat_bed_temp_max>110</heat_bed_temp_max>
			<bed_shape>0</bed_shape>
		</item>
		<item>
			<type>RAISE3D N2 Plus - V2 Hot End</type>
			<max_print_x>305.00</max_print_x>
			<max_print_y>305.00</max_print_y>
			<max_print_z>610.00</max_print_z>
			<step_e>0.00</step_e>
			<compensation_x>100.00</compensation_x>
			<compensation_y>100.25</compensation_y>
			<nozzle_diameter>0.40</nozzle_diameter>
			<nozzle_diameter_2>0.40</nozzle_diameter_2>
			<heat_bed>1</heat_bed>
			<fan_control>1</fan_control>
			<distance_from_border>2.50</distance_from_border>
			<extruder_num>1</extruder_num>
			<extruder_2_offset_x>25.00</extruder_2_offset_x>
			<extruder_2_offset_y>0.00</extruder_2_offset_y>
			<virtual_extruder_2_offset_x>25.00</virtual_extruder_2_offset_x>
			<virtual_extruder_2_offset_y>0.00</virtual_extruder_2_offset_y>
			<extruder_filament_1>10</extruder_filament_1>
			<extruder_filament_2>10</extruder_filament_2>
			<extruder_filament_name_1>PLA 1.75mm - V2 Hot End</extruder_filament_name_1>
			<extruder_filament_name_2>PLA 1.75mm - V2 Hot End</extruder_filament_name_2>
			<baudrate>230400</baudrate>
			<extruder_temp_max_1>310</extruder_temp_max_1>
			<extruder_temp_max_2>310</extruder_temp_max_2>
			<heat_bed_temp_max>110</heat_bed_temp_max>
			<bed_shape>0</bed_shape>
		</item>
		<item>
			<type>RAISE3D Pro2</type>
			<max_print_x>305.00</max_print_x>
			<max_print_y>305.00</max_print_y>
			<max_print_z>300.00</max_print_z>
			<step_e>0.00</step_e>
			<compensation_x>100.00</compensation_x>
			<compensation_y>100.00</compensation_y>
			<nozzle_diameter>0.40</nozzle_diameter>
			<nozzle_diameter_2>0.40</nozzle_diameter_2>
			<heat_bed>1</heat_bed>
			<fan_control>1</fan_control>
			<distance_from_border>2.50</distance_from_border>
			<extruder_num>2</extruder_num>
			<extruder_2_offset_x>0.00</extruder_2_offset_x>
			<extruder_2_offset_y>0.00</extruder_2_offset_y>
			<virtual_extruder_2_offset_x>25.00</virtual_extruder_2_offset_x>
			<virtual_extruder_2_offset_y>0.00</virtual_extruder_2_offset_y>
			<extruder_filament_1>2</extruder_filament_1>
			<extruder_filament_2>2</extruder_filament_2>
			<extruder_filament_name_1>PLA 1.75mm</extruder_filament_name_1>
			<extruder_filament_name_2>PLA 1.75mm</extruder_filament_name_2>
			<baudrate>230400</baudrate>
			<extruder_temp_max_1>310</extruder_temp_max_1>
			<extruder_temp_max_2>310</extruder_temp_max_2>
			<heat_bed_temp_max>110</heat_bed_temp_max>
			<bed_shape>0</bed_shape>
		</item>
		<item>
			<type>RAISE3D Pro2 Plus</type>
			<max_print_x>305.00</max_print_x>
			<max_print_y>305.00</max_print_y>
			<max_print_z>605.00</max_print_z>
			<step_e>0.00</step_e>
			<compensation_x>100.00</compensation_x>
			<compensation_y>100.00</compensation_y>
			<nozzle_diameter>0.40</nozzle_diameter>
			<nozzle_diameter_2>0.40</nozzle_diameter_2>
			<heat_bed>1</heat_bed>
			<fan_control>1</fan_control>
			<distance_from_border>2.50</distance_from_border>
			<extruder_num>2</extruder_num>
			<extruder_2_offset_x>0.00</extruder_2_offset_x>
			<extruder_2_offset_y>0.00</extruder_2_offset_y>
			<virtual_extruder_2_offset_x>25.00</virtual_extruder_2_offset_x>
			<virtual_extruder_2_offset_y>0.00</virtual_extruder_2_offset_y>
			<extruder_filament_1>2</extruder_filament_1>
			<extruder_filament_2>2</extruder_filament_2>
			<extruder_filament_name_1>PLA 1.75mm</extruder_filament_name_1>
			<extruder_filament_name_2>PLA 1.75mm</extruder_filament_name_2>
			<baudrate>230400</baudrate>
			<extruder_temp_max_1>310</extruder_temp_max_1>
			<extruder_temp_max_2>310</extruder_temp_max_2>
			<heat_bed_temp_max>110</heat_bed_temp_max>
			<bed_shape>0</bed_shape>
		</item>
		<item>
			<type>RAISE3D E2</type>
			<max_print_x>365.00</max_print_x>
			<max_print_y>240.00</max_print_y>
			<max_print_z>240.00</max_print_z>
			<step_e>0.00</step_e>
			<compensation_x>100.00</compensation_x>
			<compensation_y>100.00</compensation_y>
			<nozzle_diameter>0.40</nozzle_diameter>
			<nozzle_diameter_2>0.40</nozzle_diameter_2>
			<heat_bed>1</heat_bed>
			<fan_control>1</fan_control>
			<distance_from_border>2.50</distance_from_border>
			<extruder_num>2</extruder_num>
			<extruder_2_offset_x>0.00</extruder_2_offset_x>
			<extruder_2_offset_y>0.00</extruder_2_offset_y>
			<virtual_extruder_2_offset_x>25.00</virtual_extruder_2_offset_x>
			<virtual_extruder_2_offset_y>0.00</virtual_extruder_2_offset_y>
			<extruder_filament_1>2</extruder_filament_1>
			<extruder_filament_2>2</extruder_filament_2>
			<extruder_filament_name_1>PLA 1.75mm</extruder_filament_name_1>
			<extruder_filament_name_2>PLA 1.75mm</extruder_filament_name_2>
			<baudrate>230400</baudrate>
			<extruder_temp_max_1>300</extruder_temp_max_1>
			<extruder_temp_max_2>300</extruder_temp_max_2>
			<heat_bed_temp_max>110</heat_bed_temp_max>
			<bed_shape>0</bed_shape>
		</item>
		<item>
			<type>RAISE3D E2CF</type>
			<max_print_x>365.00</max_print_x>
			<max_print_y>240.00</max_print_y>
			<max_print_z>240.00</max_print_z>
			<step_e>0.00</step_e>
			<compensation_x>100.00</compensation_x>
			<compensation_y>100.00</compensation_y>
			<nozzle_diameter>0.40</nozzle_diameter>
			<nozzle_diameter_2>0.40</nozzle_diameter_2>
			<heat_bed>1</heat_bed>
			<fan_control>1</fan_control>
			<distance_from_border>0.00</distance_from_border>
			<extruder_num>2</extruder_num>
			<extruder_2_offset_x>0.00</extruder_2_offset_x>
			<extruder_2_offset_y>0.00</extruder_2_offset_y>
			<virtual_extruder_2_offset_x>35.00</virtual_extruder_2_offset_x>
			<virtual_extruder_2_offset_y>0.00</virtual_extruder_2_offset_y>
			<extruder_filament_1>17</extruder_filament_1>
			<extruder_filament_2>17</extruder_filament_2>
			<extruder_filament_name_1>PA12 CF 1.75mm</extruder_filament_name_1>
			<extruder_filament_name_2>PA12 CF 1.75mm</extruder_filament_name_2>
			<baudrate>230400</baudrate>
			<extruder_temp_max_1>300</extruder_temp_max_1>
			<extruder_temp_max_2>300</extruder_temp_max_2>
			<heat_bed_temp_max>110</heat_bed_temp_max>
			<bed_shape>0</bed_shape>
		</item>
		<item>
			<type>RAISE3D Pro3</type>
			<max_print_x>300.00</max_print_x>
			<max_print_y>300.00</max_print_y>
			<max_print_z>300.00</max_print_z>
			<step_e>0.00</step_e>
			<compensation_x>100.00</compensation_x>
			<compensation_y>100.00</compensation_y>
			<nozzle_diameter>0.40</nozzle_diameter>
			<nozzle_diameter_2>0.40</nozzle_diameter_2>
			<heat_bed>1</heat_bed>
			<fan_control>1</fan_control>
			<distance_from_border>0.00</distance_from_border>
			<extruder_num>2</extruder_num>
			<extruder_2_offset_x>0.00</extruder_2_offset_x>
			<extruder_2_offset_y>0.00</extruder_2_offset_y>
			<virtual_extruder_2_offset_x>42.50</virtual_extruder_2_offset_x>
			<virtual_extruder_2_offset_y>0.00</virtual_extruder_2_offset_y>
			<extruder_filament_1>2</extruder_filament_1>
			<extruder_filament_2>2</extruder_filament_2>
			<extruder_filament_name_1>PLA 1.75mm</extruder_filament_name_1>
			<extruder_filament_name_2>PLA 1.75mm</extruder_filament_name_2>
			<baudrate>230400</baudrate>
			<extruder_temp_max_1>300</extruder_temp_max_1>
			<extruder_temp_max_2>300</extruder_temp_max_2>
			<heat_bed_temp_max>120</heat_bed_temp_max>
			<bed_shape>0</bed_shape>
		</item>
		<item>
			<type>RAISE3D Pro3 Plus</type>
			<max_print_x>300.00</max_print_x>
			<max_print_y>300.00</max_print_y>
			<max_print_z>605.00</max_print_z>
			<step_e>0.00</step_e>
			<compensation_x>100.00</compensation_x>
			<compensation_y>100.00</compensation_y>
			<nozzle_diameter>0.40</nozzle_diameter>
			<nozzle_diameter_2>0.40</nozzle_diameter_2>
			<heat_bed>1</heat_bed>
			<fan_control>1</fan_control>
			<distance_from_border>0.00</distance_from_border>
			<extruder_num>2</extruder_num>
			<extruder_2_offset_x>0.00</extruder_2_offset_x>
			<extruder_2_offset_y>0.00</extruder_2_offset_y>
			<virtual_extruder_2_offset_x>42.50</virtual_extruder_2_offset_x>
			<virtual_extruder_2_offset_y>0.00</virtual_extruder_2_offset_y>
			<extruder_filament_1>2</extruder_filament_1>
			<extruder_filament_2>2</extruder_filament_2>
			<extruder_filament_name_1>PLA 1.75mm</extruder_filament_name_1>
			<extruder_filament_name_2>PLA 1.75mm</extruder_filament_name_2>
			<baudrate>230400</baudrate>
			<extruder_temp_max_1>300</extruder_temp_max_1>
			<extruder_temp_max_2>300</extruder_temp_max_2>
			<heat_bed_temp_max>120</heat_bed_temp_max>
			<bed_shape>0</bed_shape>
		</item>
		<item>
			<type>Ender 3 Pro X 0.4mm</type>
			<max_print_x>220.00</max_print_x>
			<max_print_y>220.00</max_print_y>
			<max_print_z>250.00</max_print_z>
			<step_e>0.00</step_e>
			<compensation_x>100.00</compensation_x>
			<compensation_y>100.00</compensation_y>
			<nozzle_diameter>0.40</nozzle_diameter>
			<nozzle_diameter_2>0.40</nozzle_diameter_2>
			<heat_bed>1</heat_bed>
			<fan_control>1</fan_control>
			<distance_from_border>1.00</distance_from_border>
			<extruder_num>1</extruder_num>
			<extruder_2_offset_x>25.00</extruder_2_offset_x>
			<extruder_2_offset_y>0.00</extruder_2_offset_y>
			<virtual_extruder_2_offset_x>25.00</virtual_extruder_2_offset_x>
			<virtual_extruder_2_offset_y>0.00</virtual_extruder_2_offset_y>
			<extruder_filament_1>2</extruder_filament_1>
			<extruder_filament_2>30</extruder_filament_2>
			<extruder_filament_name_1>PLA 1.75mm</extruder_filament_name_1>
			<extruder_filament_name_2>PC In F3D</extruder_filament_name_2>
			<baudrate>230400</baudrate>
			<extruder_temp_max_1>260</extruder_temp_max_1>
			<extruder_temp_max_2>260</extruder_temp_max_2>
			<heat_bed_temp_max>110</heat_bed_temp_max>
			<bed_shape>0</bed_shape>
		</item>
		<item>
			<type>Ender 3 Pro X 0.6mm</type>
			<max_print_x>220.00</max_print_x>
			<max_print_y>220.00</max_print_y>
			<max_print_z>250.00</max_print_z>
			<step_e>0.00</step_e>
			<compensation_x>100.00</compensation_x>
			<compensation_y>100.00</compensation_y>
			<nozzle_diameter>0.60</nozzle_diameter>
			<nozzle_diameter_2>0.60</nozzle_diameter_2>
			<heat_bed>1</heat_bed>
			<fan_control>1</fan_control>
			<distance_from_border>5.00</distance_from_border>
			<extruder_num>1</extruder_num>
			<extruder_2_offset_x>25.00</extruder_2_offset_x>
			<extruder_2_offset_y>0.00</extruder_2_offset_y>
			<virtual_extruder_2_offset_x>25.00</virtual_extruder_2_offset_x>
			<virtual_extruder_2_offset_y>0.00</virtual_extruder_2_offset_y>
			<extruder_filament_1>2</extruder_filament_1>
			<extruder_filament_2>2</extruder_filament_2>
			<extruder_filament_name_1>PLA 1.75mm</extruder_filament_name_1>
			<extruder_filament_name_2>PLA 1.75mm</extruder_filament_name_2>
			<baudrate>230400</baudrate>
			<extruder_temp_max_1>250</extruder_temp_max_1>
			<extruder_temp_max_2>250</extruder_temp_max_2>
			<heat_bed_temp_max>110</heat_bed_temp_max>
			<bed_shape>0</bed_shape>
		</item>
		<item>
			<type>Ender 3 Pro X 0.3mm</type>
			<max_print_x>220.00</max_print_x>
			<max_print_y>220.00</max_print_y>
			<max_print_z>250.00</max_print_z>
			<step_e>0.00</step_e>
			<compensation_x>100.00</compensation_x>
			<compensation_y>100.00</compensation_y>
			<nozzle_diameter>0.20</nozzle_diameter>
			<nozzle_diameter_2>0.20</nozzle_diameter_2>
			<heat_bed>1</heat_bed>
			<fan_control>1</fan_control>
			<distance_from_border>5.00</distance_from_border>
			<extruder_num>1</extruder_num>
			<extruder_2_offset_x>25.00</extruder_2_offset_x>
			<extruder_2_offset_y>0.00</extruder_2_offset_y>
			<virtual_extruder_2_offset_x>25.00</virtual_extruder_2_offset_x>
			<virtual_extruder_2_offset_y>0.00</virtual_extruder_2_offset_y>
			<extruder_filament_1>2</extruder_filament_1>
			<extruder_filament_2>2</extruder_filament_2>
			<extruder_filament_name_1>PLA 1.75mm</extruder_filament_name_1>
			<extruder_filament_name_2>PLA 1.75mm</extruder_filament_name_2>
			<baudrate>230400</baudrate>
			<extruder_temp_max_1>250</extruder_temp_max_1>
			<extruder_temp_max_2>250</extruder_temp_max_2>
			<heat_bed_temp_max>110</heat_bed_temp_max>
			<bed_shape>0</bed_shape>
		</item>
	</printers>
	<materials>
		<current>29</current>
		<material>
			<name>PLA 3mm</name>
			<filament_diameter>2.930</filament_diameter>
			<density>1300.00</density>
			<unit_price>
				<cn>150.00</cn>
				<jp>4500.00</jp>
				<us>30.00</us>
				<kor>35000.00</kor>
			</unit_price>
			<filament_compensation>100.00</filament_compensation>
			<filament_id>cf800663-a92a-409a-ae3f-27fda847adf2</filament_id>
		</material>
		<material>
			<name>ABS 3mm</name>
			<filament_diameter>2.930</filament_diameter>
			<density>1000.00</density>
			<unit_price>
				<cn>150.00</cn>
				<jp>4500.00</jp>
				<us>30.00</us>
				<kor>35000.00</kor>
			</unit_price>
			<filament_compensation>100.00</filament_compensation>
			<filament_id>b1854763-6170-440b-9509-8e50b69e5514</filament_id>
		</material>
		<material>
			<name>PLA 1.75mm</name>
			<filament_diameter>1.750</filament_diameter>
			<density>1240.00</density>
			<unit_price>
				<cn>150.00</cn>
				<jp>4500.00</jp>
				<us>50.00</us>
				<kor>35000.00</kor>
			</unit_price>
			<filament_compensation>100.00</filament_compensation>
			<filament_id>2481df9c-9066-463a-9aa0-693e8435b183</filament_id>
		</material>
		<material>
			<name>ABS 1.75mm</name>
			<filament_diameter>1.750</filament_diameter>
			<density>1120.00</density>
			<unit_price>
				<cn>150.00</cn>
				<jp>4500.00</jp>
				<us>50.00</us>
				<kor>35000.00</kor>
			</unit_price>
			<filament_compensation>95.00</filament_compensation>
			<filament_id>0fe8c57f-83cb-41d4-a3e0-575159f24b47</filament_id>
		</material>
		<material>
			<name>PolyPC 1.75mm</name>
			<filament_diameter>1.750</filament_diameter>
			<density>1200.00</density>
			<unit_price>
				<cn>500.00</cn>
				<jp>8500.00</jp>
				<us>76.00</us>
				<kor>88000.00</kor>
			</unit_price>
			<filament_compensation>98.00</filament_compensation>
			<filament_id>8e56fe03-cbf9-4cf9-b722-3d07f313f499</filament_id>
		</material>
		<material>
			<name>PolyFlex 1.75mm</name>
			<filament_diameter>1.750</filament_diameter>
			<density>1210.00</density>
			<unit_price>
				<cn>500.00</cn>
				<jp>8500.00</jp>
				<us>76.00</us>
				<kor>88000.00</kor>
			</unit_price>
			<filament_compensation>98.00</filament_compensation>
			<filament_id>580e273a-93fd-4070-a22c-925650365c4f</filament_id>
		</material>
		<material>
			<name>PolySupport 1.75mm</name>
			<filament_diameter>1.750</filament_diameter>
			<density>1230.00</density>
			<unit_price>
				<cn>520.00</cn>
				<jp>9000.00</jp>
				<us>80.00</us>
				<kor>93000.00</kor>
			</unit_price>
			<filament_compensation>98.00</filament_compensation>
			<filament_id>a8ed9850-a704-4a46-ab1a-df74a4de5760</filament_id>
		</material>
		<material>
			<name>Elastic Filament 1.75mm</name>
			<filament_diameter>1.750</filament_diameter>
			<density>1200.00</density>
			<unit_price>
				<cn>650.00</cn>
				<jp>11000.00</jp>
				<us>100.00</us>
				<kor>116000.00</kor>
			</unit_price>
			<filament_compensation>98.00</filament_compensation>
			<filament_id>fd3fec9f-25e3-4589-b7e5-e8d4deaff191</filament_id>
		</material>
		<material>
			<name>HIPS 1.75mm</name>
			<filament_diameter>1.750</filament_diameter>
			<density>1040.00</density>
			<unit_price>
				<cn>680.00</cn>
				<jp>11800.00</jp>
				<us>105.00</us>
				<kor>122000.00</kor>
			</unit_price>
			<filament_compensation>98.00</filament_compensation>
			<filament_id>75a82678-a147-4ac0-85cc-13ed3bf19f6f</filament_id>
		</material>
		<material>
			<name>PETG 1.75mm</name>
			<filament_diameter>1.750</filament_diameter>
			<density>1270.00</density>
			<unit_price>
				<cn>680.00</cn>
				<jp>11800.00</jp>
				<us>70.00</us>
				<kor>122000.00</kor>
			</unit_price>
			<filament_compensation>98.00</filament_compensation>
			<filament_id>7bad2bb1-cd6c-47c1-bbe1-44e3256ca36c</filament_id>
		</material>
		<material>
			<name>PLA 1.75mm - V2 Hot End</name>
			<filament_diameter>1.750</filament_diameter>
			<density>1240.00</density>
			<unit_price>
				<cn>150.00</cn>
				<jp>4500.00</jp>
				<us>30.00</us>
				<kor>35000.00</kor>
			</unit_price>
			<filament_compensation>94.00</filament_compensation>
			<filament_id>f34c2e1c-4166-47e2-aef0-7055912506ba</filament_id>
		</material>
		<material>
			<name>ABS 1.75mm - V2 Hot End</name>
			<filament_diameter>1.750</filament_diameter>
			<density>1120.00</density>
			<unit_price>
				<cn>150.00</cn>
				<jp>4500.00</jp>
				<us>30.00</us>
				<kor>35000.00</kor>
			</unit_price>
			<filament_compensation>100.00</filament_compensation>
			<filament_id>0b282689-788e-45b6-8f13-d89f00ff30d3</filament_id>
		</material>
		<material>
			<name>PVA 1.75mm</name>
			<filament_diameter>1.750</filament_diameter>
			<density>1230.00</density>
			<unit_price>
				<cn>520.00</cn>
				<jp>9000.00</jp>
				<us>80.00</us>
				<kor>93000.00</kor>
			</unit_price>
			<filament_compensation>95.00</filament_compensation>
			<filament_id>63d33bcc-0b73-458b-bdf1-369b4316be7a</filament_id>
		</material>
		<material>
			<name>PC 1.75mm</name>
			<filament_diameter>1.750</filament_diameter>
			<density>1200.00</density>
			<unit_price>
				<cn>500.00</cn>
				<jp>8500.00</jp>
				<us>76.00</us>
				<kor>88000.00</kor>
			</unit_price>
			<filament_compensation>98.00</filament_compensation>
			<filament_id>c130fb58-b2a5-4022-95ee-dc0327c575fe</filament_id>
		</material>
		<material>
			<name>ASA 1.75mm</name>
			<filament_diameter>1.750</filament_diameter>
			<density>1120.00</density>
			<unit_price>
				<cn>300.00</cn>
				<jp>4500.00</jp>
				<us>39.99</us>
				<kor>48000.00</kor>
			</unit_price>
			<filament_compensation>100.00</filament_compensation>
			<filament_id>07de67c4-fa9e-4963-afc1-360af3784363</filament_id>
		</material>
		<material>
			<name>TPU WANFAB FT1095 1.75mm</name>
			<filament_diameter>1.750</filament_diameter>
			<density>1200.00</density>
			<unit_price>
				<cn>210.00</cn>
				<jp>3500.00</jp>
				<us>30.00</us>
				<kor>37000.00</kor>
			</unit_price>
			<filament_compensation>100.00</filament_compensation>
			<filament_id>22790656-012e-4abe-91f2-d5c3150003df</filament_id>
		</material>
		<material>
			<name>PVA 1.75mm - E2</name>
			<filament_diameter>1.750</filament_diameter>
			<density>1230.00</density>
			<unit_price>
				<cn>520.00</cn>
				<jp>9000.00</jp>
				<us>80.00</us>
				<kor>93000.00</kor>
			</unit_price>
			<filament_compensation>100.00</filament_compensation>
			<filament_id>cd9d1db7-6300-4d2e-b82a-60b3e780408d</filament_id>
		</material>
		<material>
			<name>PA12 CF 1.75mm</name>
			<filament_diameter>1.750</filament_diameter>
			<density>1060.00</density>
			<unit_price>
				<cn>1250.00</cn>
				<jp>20100.00</jp>
				<us>190.00</us>
				<kor>210000.00</kor>
			</unit_price>
			<filament_compensation>100.00</filament_compensation>
			<filament_id>08c73d1b-a308-4f4d-bd10-09fcb10f42be</filament_id>
		</material>
		<material>
			<name>PA12 CF Support 1.75mm</name>
			<filament_diameter>1.750</filament_diameter>
			<density>1150.00</density>
			<unit_price>
				<cn>1000.00</cn>
				<jp>16500.00</jp>
				<us>150.00</us>
				<kor>166000.00</kor>
			</unit_price>
			<filament_compensation>100.00</filament_compensation>
			<filament_id>e0dcfd10-b32b-4607-9eb4-a337f82e728c</filament_id>
		</material>
		<material>
			<name>PVA+ 1.75mm</name>
			<filament_diameter>1.750</filament_diameter>
			<density>1230.00</density>
			<unit_price>
				<cn>710.00</cn>
				<jp>12000.00</jp>
				<us>110.00</us>
				<kor>125500.00</kor>
			</unit_price>
			<filament_compensation>100.00</filament_compensation>
			<filament_id>3e68d3e8-b5ba-4664-b80c-fbd63951e450</filament_id>
		</material>
		<material>
			<name>TPU-95A 1.75mm</name>
			<filament_diameter>1.750</filament_diameter>
			<density>1220.00</density>
			<unit_price>
				<cn>510.00</cn>
				<jp>8800.00</jp>
				<us>80.00</us>
				<kor>91300.00</kor>
			</unit_price>
			<filament_compensation>98.00</filament_compensation>
			<filament_id>0f0de2f6-d681-4d92-9fa6-278a48475c38</filament_id>
		</material>
		<material>
			<name>PPA CF 1.75mm</name>
			<filament_diameter>1.750</filament_diameter>
			<density>1150.00</density>
			<unit_price>
				<cn>1500.00</cn>
				<jp>27500.00</jp>
				<us>240.00</us>
				<kor>286000.00</kor>
			</unit_price>
			<filament_compensation>100.00</filament_compensation>
			<filament_id>b5c15f63-2536-4e2d-ab93-1b586d3405a9</filament_id>
		</material>
		<material>
			<name>PPA GF 1.75mm</name>
			<filament_diameter>1.750</filament_diameter>
			<density>1160.00</density>
			<unit_price>
				<cn>1300.00</cn>
				<jp>25000.00</jp>
				<us>220.00</us>
				<kor>262000.00</kor>
			</unit_price>
			<filament_compensation>100.00</filament_compensation>
			<filament_id>faec8ac7-a5fc-46c5-9992-6b74a8106a8c</filament_id>
		</material>
		<material>
			<name>PPA Support 1.75mm</name>
			<filament_diameter>1.750</filament_diameter>
			<density>1260.00</density>
			<unit_price>
				<cn>600.00</cn>
				<jp>18000.00</jp>
				<us>160.00</us>
				<kor>190000.00</kor>
			</unit_price>
			<filament_compensation>100.00</filament_compensation>
			<filament_id>e1f78473-9ab5-47a2-bf3e-6aced6a0e0fc</filament_id>
		</material>
		<material>
			<name>PA12 CF+ 1.75mm</name>
			<filament_diameter>1.750</filament_diameter>
			<density>1060.00</density>
			<unit_price>
				<cn>1250.00</cn>
				<jp>20100.00</jp>
				<us>190.00</us>
				<kor>210000.00</kor>
			</unit_price>
			<filament_compensation>100.00</filament_compensation>
			<filament_id>26245253-2efb-45ca-b0a5-41822aa4911f</filament_id>
		</material>
		<material>
			<name>PETG ESD 1.75mm</name>
			<filament_diameter>1.750</filament_diameter>
			<density>1240.00</density>
			<unit_price>
				<cn>690.00</cn>
				<jp>12900.00</jp>
				<us>99.00</us>
				<kor>122000.00</kor>
			</unit_price>
			<filament_compensation>100.00</filament_compensation>
			<filament_id>e473e7b4-2c78-4162-a076-933f49e54ee3</filament_id>
		</material>
		<material>
			<name>PET CF 1.75mm</name>
			<filament_diameter>1.750</filament_diameter>
			<density>1300.00</density>
			<unit_price>
				<cn>550.00</cn>
				<jp>10300.00</jp>
				<us>79.00</us>
				<kor>97000.00</kor>
			</unit_price>
			<filament_compensation>100.00</filament_compensation>
			<filament_id>b62fcd16-2bef-4e75-916a-aab88a1e281c</filament_id>
		</material>
		<material>
			<name>NANOCARBON F3D</name>
			<filament_diameter>1.750</filament_diameter>
			<density>1240.00</density>
			<unit_price>
				<cn>150.00</cn>
				<jp>4500.00</jp>
				<us>325.00</us>
				<kor>35000.00</kor>
			</unit_price>
			<filament_compensation>100.00</filament_compensation>
			<filament_id>5a9a3d77-3fd9-46b6-b539-59b981df3dec</filament_id>
		</material>
		<material>
			<name>PLA marmurek</name>
			<filament_diameter>1.750</filament_diameter>
			<density>1240.00</density>
			<unit_price>
				<cn>150.00</cn>
				<jp>4500.00</jp>
				<us>115.00</us>
				<kor>35000.00</kor>
			</unit_price>
			<filament_compensation>100.00</filament_compensation>
			<filament_id>7f474695-e557-4da4-b831-2954a4d8e576</filament_id>
		</material>
		<material>
			<name>IMPACT PLA Fiberlogy</name>
			<filament_diameter>1.750</filament_diameter>
			<density>1240.00</density>
			<unit_price>
				<cn>150.00</cn>
				<jp>4500.00</jp>
				<us>111.76</us>
				<kor>35000.00</kor>
			</unit_price>
			<filament_compensation>100.00</filament_compensation>
			<filament_id>856c87f5-6d46-4004-9006-946f7453648e</filament_id>
		</material>
		<material>
			<name>PC In F3D</name>
			<filament_diameter>1.750</filament_diameter>
			<density>1240.00</density>
			<unit_price>
				<cn>150.00</cn>
				<jp>4500.00</jp>
				<us>150.00</us>
				<kor>35000.00</kor>
			</unit_price>
			<filament_compensation>105.00</filament_compensation>
			<filament_id>01cf80e8-7e10-48a4-b971-d7d3b62811a7</filament_id>
		</material>
		<material>
			<name>PLA 1.75 - Sapphire Plus</name>
			<filament_diameter>1.750</filament_diameter>
			<density>1240.00</density>
			<unit_price>
				<cn>108.00</cn>
				<jp>1728.00</jp>
				<us>18.00</us>
				<kor>1728000.00</kor>
			</unit_price>
			<filament_compensation>95.00</filament_compensation>
			<filament_id>e70ce828-94d8-4899-a1d6-e6df44a408fc</filament_id>
		</material>
		<material>
			<name>ESUN PLA+</name>
			<filament_diameter>1.750</filament_diameter>
			<density>1240.00</density>
			<unit_price>
				<cn>150.00</cn>
				<jp>4500.00</jp>
				<us>88.00</us>
				<kor>35000.00</kor>
			</unit_price>
			<filament_compensation>100.00</filament_compensation>
			<filament_id>464f9f02-194f-428b-acc2-98659a3cb204</filament_id>
		</material>
	</materials>
	<pos_metric>mm</pos_metric>
	<size_metric>mm</size_metric>
	<cross_metric>mm</cross_metric>
	<support>
		<touch_buildplate>1</touch_buildplate>
		<pillar_size>5.00</pillar_size>
		<overhang_angle>70.0</overhang_angle>
		<small_floated_features>1</small_floated_features>
		<thin_wall_enable>1</thin_wall_enable>
		<image_parse_mesh_height_max>3.00</image_parse_mesh_height_max>
		<image_parse_mesh_height_min>0.80</image_parse_mesh_height_min>
		<image_parse_mesh_blur>1</image_parse_mesh_blur>
		<image_parse_mesh_reduction>50</image_parse_mesh_reduction>
	</support>
	<import_property>
		<init_vertex_weld>1</init_vertex_weld>
		<enable_vertex_weld>1</enable_vertex_weld>
		<vertex_weld_threshold>0.0010</vertex_weld_threshold>
		<image_parse_mesh_lighter_up>0</image_parse_mesh_lighter_up>
		<image_parse_mesh_keep_aspect_ratio>1</image_parse_mesh_keep_aspect_ratio>
	</import_property>
	<sd_path>c:/</sd_path>
	<auto_update>1</auto_update>
	<update>
		<im_beta>
			<check_update>0</check_update>
			<skip_version></skip_version>
		</im_beta>
		<raisetouch>
			<check_update>1</check_update>
			<current_version>0.9.11.612</current_version>
			<skip_version></skip_version>
		</raisetouch>
		<n-motionboard>
			<check_update>1</check_update>
			<current_version>1.1.6.1</current_version>
			<skip_version></skip_version>
		</n-motionboard>
		<pro2-motionboard>
			<check_update>1</check_update>
			<current_version>0.0.31.0</current_version>
			<skip_version></skip_version>
		</pro2-motionboard>
		<e2-motionboard>
			<check_update>1</check_update>
			<current_version>0.0.0.0</current_version>
			<skip_version></skip_version>
		</e2-motionboard>
		<e2cf-motionboard>
			<check_update>1</check_update>
			<current_version>0.0.0.0</current_version>
			<skip_version></skip_version>
		</e2cf-motionboard>
		<pro3-motionboard>
			<check_update>1</check_update>
			<current_version>0.0.0.0</current_version>
			<skip_version></skip_version>
		</pro3-motionboard>
		<announcement>
			<check_update>1</check_update>
			<current_version>0.0.0.0</current_version>
		</announcement>
		<new_product>
			<check_update>1</check_update>
			<current_version>0.0.0.0</current_version>
		</new_product>
		<library_recommend>1</library_recommend>
	</update>
	<slice_thread>1</slice_thread>
	<extruder_color>
		<color>FFFFFF</color>
		<color>FF8000</color>
	</extruder_color>
	<window_state>
		<enable_save_state>0</enable_save_state>
		<window_geometry></window_geometry>
	</window_state>
	<preview_state>
		<enable_save_state>0</enable_save_state>
		<only_current_layer>0</only_current_layer>
		<no_travel_move>1</no_travel_move>
		<show_retraction>0</show_retraction>
		<show_seams>0</show_seams>
		<preview_2d>0</preview_2d>
		<preview_type>color</preview_type>
		<window_geometry></window_geometry>
	</preview_state>
	<network>
		<enable_printer_discovery>0</enable_printer_discovery>
		<proxy_enable>0</proxy_enable>
		<proxy_address></proxy_address>
		<proxy_port></proxy_port>
		<proxy_username></proxy_username>
		<proxy_password></proxy_password>
	</network>
	<engine>
		<maximum_3d_fps>20</maximum_3d_fps>
	</engine>
	<misc>
		<enable_auto_on_platform>1</enable_auto_on_platform>
		<enable_slice_with_unsaved_template>0</enable_slice_with_unsaved_template>
		<enable_auto_arrange_import_models>1</enable_auto_arrange_import_models>
		<enable_auto_arrange_duplicate_models>1</enable_auto_arrange_duplicate_models>
		<model_space>4.00</model_space>
		<enable_preview_gcode_trace_2d>0</enable_preview_gcode_trace_2d>
		<enable_preview_gcode_lines>0</enable_preview_gcode_lines>
		<enable_center_extruder_range>0</enable_center_extruder_range>
		<enable_show_welcome>1</enable_show_welcome>
		<enable_monitor_clipboard>1</enable_monitor_clipboard>
		<enable_spacemouse_support>0</enable_spacemouse_support>
		<enable_single_instance>0</enable_single_instance>
		<single_instance_file_import_behavior>0</single_instance_file_import_behavior>
		<enable_gcode_placeholder_validation>1</enable_gcode_placeholder_validation>
	</misc>
	<tip>
		<checkbox_tip_mirror>1</checkbox_tip_mirror>
		<checkbox_tip_shortcuts>1</checkbox_tip_shortcuts>
		<checkbox_obsolete>1</checkbox_obsolete>
		<checkbox_tip_sequential>1</checkbox_tip_sequential>
		<checkbox_tip_global_scale>0</checkbox_tip_global_scale>
		<checkbox_tip_pillar_modifier_boolean>1</checkbox_tip_pillar_modifier_boolean>
		<checkbox_show_in_folder_confirm>0</checkbox_show_in_folder_confirm>
		<checkbox_open_link_in_advanced>1</checkbox_open_link_in_advanced>
		<enable_open_link_in_advanced>1</enable_open_link_in_advanced>
		<checkbox_add_support_for_floated_models>1</checkbox_add_support_for_floated_models>
		<checkbox_prompt_unsaved_project_on_app_exit>1</checkbox_prompt_unsaved_project_on_app_exit>
		<show_shortcuts_tip>1</show_shortcuts_tip>
		<show_edges>0</show_edges>
		<show_wireframes>0</show_wireframes>
		<show_color_invalid_meshs>1</show_color_invalid_meshs>
		<show_axes>1</show_axes>
		<show_perspective>1</show_perspective>
		<checkbox_tip_grouplayer>0</checkbox_tip_grouplayer>
		<checkbox_model_deletion>0</checkbox_model_deletion>
		<checkbox_tip_grouplayer_reset>0</checkbox_tip_grouplayer_reset>
		<enable_grouplayer_reset>1</enable_grouplayer_reset>
		<show_extruder_range>1</show_extruder_range>
		<show_model_shadow>0</show_model_shadow>
		<show_sequence_number>1</show_sequence_number>
		<show_printhead_area>1</show_printhead_area>
		<first_show_advanced_speed>0</first_show_advanced_speed>
		<first_show_advanced_solidfill>0</first_show_advanced_solidfill>
		<first_show_advanced_simple>0</first_show_advanced_simple>
		<first_show_advanced_search>0</first_show_advanced_search>
		<first_show_advanced_small_features>0</first_show_advanced_small_features>
		<show_overhang>0</show_overhang>
		<hide_gridlines>0</hide_gridlines>
	</tip>
	<shortcuts>
		<rotate_modifier>none</rotate_modifier>
		<rotate_key>right</rotate_key>
		<pan_modifier>ctrl</pan_modifier>
		<pan_key>left</pan_key>
		<zoom_modifier>alt</zoom_modifier>
		<zoom_key>left</zoom_key>
		<fine_modifier>shift</fine_modifier>
		<fine_key>left</fine_key>
		<layer_modifier>shift</layer_modifier>
		<layer_key>right</layer_key>
		<multiple_selection>shift</multiple_selection>
		<mouse_wheel_invert>0</mouse_wheel_invert>
	</shortcuts>
	<interface>
		<enable_custom_font>0</enable_custom_font>
		<custom_font_family></custom_font_family>
		<custom_font_size>9</custom_font_size>
		<slice_button_behavior>0</slice_button_behavior>
		<file_load_action>0</file_load_action>
		<enable_auto_preview>0</enable_auto_preview>
		<enable_move_other_mode>0</enable_move_other_mode>
		<slice_simple_mode>1</slice_simple_mode>
		<interface_theme>0</interface_theme>
	</interface>
	<control_limit>
		<max_duplicate>5</max_duplicate>
	</control_limit>
	<currency_list>
		<current>11</current>
	</currency_list>
	<recent>
		<file>C:/Users/Ja/AppData/Local/Temp/Rar$DRa11208.33782/files/Batteriespender_K3.0_v7.stl</file>
		<file_encode>0043003A002F00550073006500720073002F004A0061002F0041007000700044006100740061002F004C006F00630061006C002F00540065006D0070002F005200610072002400440052006100310031003200300038002E00330033003700380032002F00660069006C00650073002F00420061007400740065007200690065007300700065006E006400650072005F004B0033002E0030005F00760037002E00730074006C</file_encode>
		<file>D:/3D/testy/3DBenchy.stl</file>
		<file_encode>0044003A002F00330044002F00740065007300740079002F0033004400420065006E006300680079002E00730074006C</file_encode>
		<file>C:/Users/Ja/Desktop/TEST POZIOMOWANIA.idea</file>
		<file_encode>0043003A002F00550073006500720073002F004A0061002F004400650073006B0074006F0070002F005400450053005400200050004F005A0049004F004D004F00570041004E00490041002E0069006400650061</file_encode>
		<file>C:/Users/Ja/Desktop/Projekty RAWS/IMR/Stl A2/IMR A2-Klocek komory v2.stl</file>
		<file_encode>0043003A002F00550073006500720073002F004A0061002F004400650073006B0074006F0070002F00500072006F006A0065006B0074007900200052004100570053002F0049004D0052002F00530074006C002000410032002F0049004D0052002000410032002D004B006C006F00630065006B0020006B006F006D006F00720079002000760032002E00730074006C</file_encode>
		<file>D:/3D/Szufladki na rezystory/Drawer.stl</file>
		<file_encode>0044003A002F00330044002F0053007A00750066006C00610064006B00690020006E0061002000720065007A007900730074006F00720079002F004400720061007700650072002E00730074006C</file_encode>
		<file>C:/Users/Ja/Downloads/tremendous_luulia-amur.stl</file>
		<file_encode>0043003A002F00550073006500720073002F004A0061002F0044006F0077006E006C006F006100640073002F007400720065006D0065006E0064006F00750073005F006C00750075006C00690061002D0061006D00750072002E00730074006C</file_encode>
		<file>D:/3D/Szufladki na rezystory/BoxMiddleMiddle.stl</file>
		<file_encode>0044003A002F00330044002F0053007A00750066006C00610064006B00690020006E0061002000720065007A007900730074006F00720079002F0042006F0078004D006900640064006C0065004D006900640064006C0065002E00730074006C</file_encode>
		<file>C:/Users/Ja/Desktop/Projekty RAWS/IMR/Stl A2/IMR A2-przerywacz.003.stl</file>
		<file_encode>0043003A002F00550073006500720073002F004A0061002F004400650073006B0074006F0070002F00500072006F006A0065006B0074007900200052004100570053002F0049004D0052002F00530074006C002000410032002F0049004D0052002000410032002D00700072007A006500720079007700610063007A002E003000300033002E00730074006C</file_encode>
		<file>C:/Users/Ja/Downloads/PartyOtter.stl</file>
		<file_encode>0043003A002F00550073006500720073002F004A0061002F0044006F0077006E006C006F006100640073002F00500061007200740079004F0074007400650072002E00730074006C</file_encode>
		<file>C:/Users/Ja/Desktop/Projekty RAWS/Target_enhancer/STL/Enhancer-Frame.stl</file>
		<file_encode>0043003A002F00550073006500720073002F004A0061002F004400650073006B0074006F0070002F00500072006F006A0065006B0074007900200052004100570053002F005400610072006700650074005F0065006E00680061006E006300650072002F00530054004C002F0045006E00680061006E006300650072002D004600720061006D0065002E00730074006C</file_encode>
	</recent>
</config>
